;; shadow-cljs configuration
{:source-paths
 ["test"]

 :dependencies
 []

 :builds
 {:test {:target :node-test
         :output-to "target/js/node-tests.js"
         :ns-regexp "-test"
         :autorun true
         :compiler-options {:warnings {:invalid-arithmetic false}}
         :release {:autorun false
                   :compiler-options {:optimizations :simple
                                      :elide-asserts false}}}}}
